<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href = "/login">log in</a>
<% } else { %>
	<h2>Hello, <%= user.firstName %>.</h2>
	<a href = "/logout">log out</a>
<% } %>
<p> Profiles: <p>
<% for(var i=0; i<users.length; i++) {%>
   <li>
        <a href= "Users/account/<%=users[i].id%>"<%= users[i] %>'>
            <%= users[i].firstName %>
        </a>
    </li>
<% }%>